{% extends "base.html" %}
{% block content %}
<div id="main-page">

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div id="intro">
          TweetMatch（ベータ版）へようこそ!<br/>
          このサイトは、Twitterで「彼＊ほしい！」とつぶやいたユーザーどうしをマッチングするサイトです。<br/>
          すでにつぶやき済みでBotにふぁぼられた人は、下の検索窓にTwitterIDを入力してください。<br/>
          まだつぶやいていない人もマッチングを楽しめるようにする予定なので、お楽しみに。
        </div>
        <div Class="span12">
          <form method="POST" action="/">
            <p>
              <input class="form-control"
                     type="text"
                     placeholder="例：@ladygaga の場合 => ladygaga"
                     name="screen-name"
                     value="{{screen-name}}" />
            </p>
            {% if errors.screen-name %}
            <div class="alert alert-danger">"TwitterIDを入力してください！！"</div>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="マッチング結果を見る" />
          </form>
        </div>
        </div>
      <div>
        <div style="margin-top: 30px; margin-bottom: 30px;">
          <h2>今週のベストカップル</h2>
        </div>
        <div style="float: left;">
          {% ifequal best-couple.user1.sex "b" %}
          <div id="boy">
            <div>{{best-couple.user1.user-name}}</div>
            <div>@{{best-couple.user1.screen-name}}</div>
            <div class="icon">
              <a href=http://133.242.135.110:3003/ranking/{{best-couple.user1.screen-name}}>
                <img src={{best-couple.user1.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user1.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% else %}
          <div id="girl">
            <div>{{best-couple.user1.user-name}}</div>
            <div>@{{best-couple.user1.screen-name}}</div>
            <div class="icon">
              <a href=http://133.242.135.110:3003/ranking/{{best-couple.user1.screen-name}}>
                <img src={{best-couple.user1.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user1.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% endifequal %}
        </div>
        <div style="float: left;">
          <div><h3>《相》{{best-couple.leven|leven-to-percent}}%《性》</h3></div>
          <div class="label-tag">{{best-couple.leven|leven-label}}</div>
          <div>{{best-couple.date}}</div>
        </div>
        <div style="float: left;">
          {% ifequal best-couple.user2.sex "b" %}
          <div id="boy">
            <div>{{best-couple.user2.user-name}}</div>
            <div>@{{best-couple.user2.screen-name}}</div>
            <div class="icon">
              <a href=http://133.242.135.110:3003/ranking/{{best-couple.user2.screen-name}}>
                <img src={{best-couple.user2.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user2.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% else %}
          <div id="girl">
            <div>{{best-couple.user2.user-name}}</div>
            <div>@{{best-couple.user2.screen-name}}</div>
            <div class="icon">
              <a href=http://133.242.135.110:3003/ranking/{{best-couple.user2.screen-name}}>
                <img src={{best-couple.user2.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user2.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% endifequal %}
        </div>
        <div style="clear:both;"></div>
      </div>

      <div style="margin-top: 60px; margin-bottom: 30px;">
        <h2>新着100人の心の叫び!</h2>
      </div>
      <div>
        {% for user in users %}
        {% ifequal user.sex "b" %}
        <div id="boy">
          <div>{{user.user-name}}</div>
          <div>@{{user.screen-name}}</div>
          <div class="icon">
            <a href=http://133.242.135.110:3003/ranking/{{user.screen-name}}>
              <img src={{user.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
            </a>
          </div>
          <div class="wrapper">
            <div class="tweet">{{user.tweet}}</div>
          </div>
          <div style="clear:both;"></div>
          <div align="right">{{user.date}}</div>
        </div>
        {% else %}
        <div id="girl">
          <div>{{user.user-name}}</div>
          <div>@{{user.screen-name}}</div>
          <div class="icon">
            <a href=http://133.242.135.110:3003/ranking/{{user.screen-name}}>
              <img src={{user.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
            </a>
          </div>
          <div class="wrapper">
            <div class="tweet">{{user.tweet}}</div>
          </div>
          <div style="clear:both;"></div>
          <div align="right">{{user.date}}</div>
        </div>
        {% endifequal %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page-scripts %}
  {% script "//code.jquery.com/jquery-2.0.3.min.js" %}
{% endblock %}
