{% extends "base.html" %}
{% block content %}
<div id="main-page">

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div id="intro">
          Twit Match（ベータ版）へようこそ!<br/>
          このサイトは、Twitterで「彼◯ほしい！」とつぶやいたユーザーどうしをマッチングするサイトです。<br/>
          自分のモテ度が気になる方は、下の検索窓に自分のTwitterIDを入力してみてください。<br/>
        </div>
        <div Class="span12">
          <form method="POST" action="/">
            <p>
              <input class="form-control"
                     type="text"
                     placeholder="例：@ladygaga の場合 => ladygaga"
                     name="screen-name"
                     value="{{screen-name}}" />
            </p>
            {% if errors.screen-name %}
            <div class="alert alert-danger">"TwitterIDを入力してください！！"</div>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="検索" />
          </form>
        </div>
      </div>

      <div>
        <!-- twit-match -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:100px"
             data-ad-client="ca-pub-3317993096876234"
             data-ad-slot="9916202103"></ins>
      </div>

      <div>
        <div style="margin-top: 30px; margin-bottom: 30px;">
          <h2>新着書き込み</h2>
        </div>
        <div style="margin-bottom: 30px; margin-left: 40px; margin-right: 40px; padding: 10px; overflow: scroll; height: 500px; background-color: #E6EE9C;">
          {% for message in messages %}
          <a href={{servlet-context}}/ranking/{{message.screen-name}} style="float:left; font-weight: bold;">
            @{{message.user-name}}
          </a>
          <div> << 名無しのうんこ</div>
          <div style="clear:both;"></div>
          <div style="margin-left: 20px;">{{message.message}}</div>
          <div align="right">{{message.date}}</div>
          <hr size="3" style="background-color: #000000;">
          {% endfor %}
        </div>
        <div style="margin-top: 30px; margin-bottom: 30px;">
          <h2>今週のベストカップル</h2>
        </div>
        <div style="float: left;">
          {% ifequal best-couple.user1.sex "b" %}
          <div id="boy">
            <div>{{best-couple.user1.user-name}}</div>
            <a href={{servlet-context}}/ranking/{{best-couple.user1.screen-name}}>
              <div>@{{best-couple.user1.screen-name}}</div>
            </a>
            <div class="icon">
              <a href={{servlet-context}}/ranking/{{best-couple.user1.screen-name}}>
                <img src={{best-couple.user1.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user1.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% else %}
          <div id="girl">
            <div>{{best-couple.user1.user-name}}</div>
            <a href={{servlet-context}}/ranking/{{best-couple.user1.screen-name}}>
              <div>@{{best-couple.user1.screen-name}}</div>
            </a>
            <div class="icon">
              <a href={{servlet-context}}/ranking/{{best-couple.user1.screen-name}}>
                <img src={{best-couple.user1.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user1.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% endifequal %}
        </div>
        <div style="float: left;">
          <div><h3>《相》{{best-couple.leven|leven-to-percent}}%《性》</h3></div>
          <div class="label-tag">{{best-couple.leven|leven-label}}</div>
          <div>{{best-couple.date}}</div>
        </div>
        <div style="float: left;">
          {% ifequal best-couple.user2.sex "b" %}
          <div id="boy">
            <div>{{best-couple.user2.user-name}}</div>
            <a href={{servlet-context}}/ranking/{{best-couple.user2.screen-name}}>
              <div>@{{best-couple.user2.screen-name}}</div>
            </a>
            <div class="icon">
              <a href={{servlet-context}}/ranking/{{best-couple.user2.screen-name}}>
                <img src={{best-couple.user2.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user2.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% else %}
          <div id="girl">
            <div>{{best-couple.user2.user-name}}</div>
            <a href={{servlet-context}}/ranking/{{best-couple.user2.screen-name}}>
              <div>@{{best-couple.user2.screen-name}}</div>
            </a>
            <div class="icon">
              <a href={{servlet-context}}/ranking/{{best-couple.user2.screen-name}}>
                <img src={{best-couple.user2.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{best-couple.user2.tweet}}</div>
            </div>
            <div style="clear:both;"></div>
          </div>
          {% endifequal %}
        </div>
        <div style="clear:both;"></div>
      </div>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 中段レスポンシブ -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3317993096876234"
           data-ad-slot="2994390904"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <div style="margin-top: 30px; margin-bottom: 30px;">
        <h2>新着心の叫び!</h2>
      </div>
      <div>
        {% for user in users %}
        {% ifequal user.sex "b" %}
        <div id="boy">
          <div>{{user.user-name}}</div>
          <a href={{servlet-context}}/ranking/{{user.screen-name}}>
            <div>@{{user.screen-name}}</div>
          </a>
          <div class="icon">
            <a href={{servlet-context}}/ranking/{{user.screen-name}}>
              <img src={{user.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
            </a>
          </div>
          <div class="wrapper">
            <div class="tweet">{{user.tweet}}</div>
          </div>
          <div style="clear:both;"></div>
          <div align="right">{{user.date}}</div>
        </div>
        {% else %}
        <div id="girl">
          <div>{{user.user-name}}</div>
          <a href={{servlet-context}}/ranking/{{user.screen-name}}>
            <div>@{{user.screen-name}}</div>
          </a>
          <div class="icon">
            <a href={{servlet-context}}/ranking/{{user.screen-name}}>
              <img src={{user.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
            </a>
          </div>
          <div class="wrapper">
            <div class="tweet">{{user.tweet}}</div>
          </div>
          <div style="clear:both;"></div>
          <div align="right">{{user.date}}</div>
        </div>
        {% endifequal %}
        {% endfor %}
      </div>
    </div>
  </div>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- フッター -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3317993096876234"
       data-ad-slot="5682648901"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% endblock %}

{% block page-scripts %}
  {% script "//code.jquery.com/jquery-2.0.3.min.js" %}
{% endblock %}
