{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="row-fluid">
    <div>
      <ul>
        <h2>{{user.user-name}}</h2>
          <img src={{user.profile-back-url}} alt="not found" border="0" width=100%>
          <div>@{{user.screen-name}}</div>
          <img src={{user.profile-image}} alt="not found" border="0">
          <a href=https://twitter.com/{{user.screen-name}}>Twitterへ</a>
          <div>{{user.description}}</div>
          <h3>よくつぶやく</h3>
          <ul class="tag">
            {% for word in user.top-words %}
            {% ifequal word.word "彼" %}
            {% ifequal user.sex "b" %}
            <li><a href=http://133.242.135.110:3003/search/彼女 style="font-size : {{word.count|resize-tag}}px">彼女</a></li>
            {% else %}
            <li><a href=http://133.242.135.110:3003/search/彼氏 style="font-size : {{word.count|resize-tag}}px">彼氏</a></li>
            {% endifequal %}
            {% else %}
            <li><a href=http://133.242.135.110:3003/search/{{word.word}} style="font-size : {{word.count|resize-tag}}px">{{word.word}}</a></li>
            {% endifequal %}
            {% endfor %}
          </ul>

          {% ifequal user.sex "b" %}
          <h3>おすすめ女子</h3>
          {% else %}
          <h3>おすすめ男子</h3>
          {% endifequal %}
          {% for ranker in user.ranking %}
          {% ifequal user.sex "b" %}
          <div id="girl">
            <h2><div>{{ranker.leven|leven-to-percent}}%</div></h2>
            <div class="icon">
              <a href=http://133.242.135.110:3003/ranking/{{ranker.screen-name}}>
                <img src={{ranker.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{ranker.screen-name|get-tweet}}</div>
            </div>
            <div style="clear:both;"></div>
            <div>{{ranker.user-name}}</div>
            <div>@{{ranker.screen-name}}</div>
            <div>レーベンシュタイン距離：{{ranker.leven}}</div>
            <div></div>
          </div>
          {% else %}
          <div id="boy">
            <h2><div>{{ranker.leven|leven-to-percent}}%</div></h2>
            <div class="icon">
              <a href=http://133.242.135.110:3003/ranking/{{ranker.screen-name}}>
                <img src={{ranker.profile-image}} onerror="this.src='{{servlet-context}}/img/golden_turkey.gif';" height=80 width=80 border="0">
              </a>
            </div>
            <div class="wrapper">
              <div class="tweet">{{ranker.screen-name|get-tweet}}</div>
            </div>
            <div style="clear:both;"></div>
            <div>{{ranker.user-name}}</div>
            <div>@{{ranker.screen-name}}</div>
            <div>レーベンシュタイン距離：{{ranker.leven}}</div>
            <div></div>
          </div>
          {% endifequal %}
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block page-scripts %}
  {% script "//code.jquery.com/jquery-2.0.3.min.js" %}
{% endblock %}
