<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="TwitMatch, ツイま, 出会い, 相性">
    <meta name="canonical" content="http://heatober.com">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@twit_matchBOT" />
    <meta name="twitter:creator" content="@twit_matchBOT" />
    <meta name="twitter:image" content={{user.profile-image}}>
    <meta property="og:title" content="Twit Match" />
    <meta property="og:description" content="世界中の'彼氏/彼女ほしい'というつぶやきを集めて解析し、ユーザーの相性ランキングを勝手に公開しています。" />
    <meta property="og:url" content=http://www.twit-match.com/ranking/{{user.screen-name}} />
    <meta property="og:image" content={{user.profile-image}} />
    
    <title>TwitMatch（ツイま） - 呟きから始まる</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/color-brewer.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    {% style "/css/highlight.css" %}
    {% style "/css/codestyle.css" %}
    {% style "/css/screen.css" %}
    {% include "ga.html" %}
  </head>
  <body>
    <div id="wrap">
      <header class="navbar navbar-top">
        <div id="logo" class="col-lg-5 col-md-5 col-sm-5">
          <h1 id="logo-text">
            <a class="navbar-brand" href="{{servlet-context}}/">
              <img id="logo-image" src="{{servlet-context}}/img/icon.png" width=70 height=70 alt="ツイま" style="float: left;">
              <img id="logo-title" src="{{servlet-context}}/img/title.png" width=240 height=70 alt="ついっとまっち" style="float: left; margin-left: 25px">
            </a>
          </h1>
        </div>
        <div class="row nav-row">
          <!-- navbar -->
          <div class="col-lg-7 col-md-7 col-sm-7">
            <nav>
              <ul class="nav navbar-nav pull-right">
                <li {% ifequal page
                    "index.html" %} class="selected"{%endifequal%}>
                  <a href="{{servlet-context}}/">トップ</a>
                </li>
                <li {% ifequal page
                    "toprank.html" %} class="selected"{%endifequal%}>
                  <a href="{{servlet-context}}/fame">殿堂</a>
                </li>
                <li {% ifequal page
                    "about.html" %} class="selected"{%endifequal%}>
                  <a href="{{servlet-context}}/about">アバウト</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <div class="container" style="width:100%; padding-right:0px; padding-left:0px">

        <div class="row-fluid">
          <div>
            {% ifequal user "" %}
            <h1>ユーザーが見つかりません！</h1>
            {% endifequal %}
            <div class="prof-wrap">
              <img src={{user.profile-back-url}} alt="not found" border="0" width=100% onerror="this.src='{{servlet-context}}/img/notfound.png';">
              <img src={{user.profile-image}} alt="not found" border="0" style="float:left; border-radius: 50px; margin: 10px;" onerror="this.src='{{servlet-context}}/img/notfound.png';">
              <div class="desc-wrap">
                {% ifequal user.sex "b" %}
                <div class="box-b">
                  《自己紹介》<br />
                  {{user.description}}<br/>
                  <a href=https://twitter.com/{{user.screen-name}} target="_blank">Twitterへ</a>
                </div>
                {% else %}
                <div class="box-g">
                  《自己紹介》<br />
                  {{user.description}}<br/>
                  <a href=https://twitter.com/{{user.screen-name}} target="_blank">Twitterへ</a>
                </div>
                {% endifequal %}
                <div id="twit-pv">閲覧数：{{user.pv}}回</div>
                <div style="clear:both;"></div>
              </div>
              <div style="clear:both;"></div>
              <div id="twit-name">{{user.user-name}}</div>
              <div id="twit-id">@{{user.screen-name}}</div>
            </div>
            <div style="clear:both;"></div>
            <h3>よくつぶやく</h3>
            <ul class="tag">
              {% for word in user.top-words %}
              {% ifequal word.word "彼" %}
              {% ifequal user.sex "b" %}
              <li><a href={{servlet-context}}/search/彼 style="font-size : {{word.count|resize-tag}}px">彼女</a></li>
              {% else %}
              <li><a href={{servlet-context}}/search/彼 style="font-size : {{word.count|resize-tag}}px">彼氏</a></li>
              {% endifequal %}
              {% else %}
              <li><a href={{servlet-context}}/search/{{word.word}} style="font-size : {{word.count|resize-tag}}px">{{word.word}}</a></li>
              {% endifequal %}
              {% endfor %}
            </ul>

            {% ifequal user.sex "b" %}
            <h3>彼女ほしい <b>{{user.user-name}}</b> におすすめ女子</h3>
            {% else %}
            <h2>彼氏ほしい <b>{{user.user-name}}</b> におすすめ男子</h2>
            {% endifequal %}
            {% for ranker in user.ranking %}
            {% ifequal user.sex "b" %}
            <div id="girl">
              <div class="label-tag">{{ranker.leven|leven-label}}</div>
              <div><h2>{{ranker.leven|leven-to-percent}}%</h2></div>
              <div class="icon">
                <a href={{servlet-context}}/ranking/{{ranker.screen-name}}>
                  <img src={{ranker.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
                </a>
              </div>
              <div class="wrapper">
                <div class="tweet">{{ranker.screen-name|get-tweet}}</div>
              </div>
              <div style="clear:both;"></div>
              <div>{{ranker.user-name}}</div>
              <a href={{servlet-context}}/ranking/{{ranker.screen-name}}>
                <div>@{{ranker.screen-name}}</div>
              </a>
              <div>レーベンシュタイン距離：{{ranker.leven}}</div>
              <div></div>
            </div>
            {% else %}
            <div id="boy">
              <div class="label-tag">{{ranker.leven|leven-label}}</div>
              <div><h2>{{ranker.leven|leven-to-percent}}%</h2></div>
              <div style="clear:both;"></div>
              <div class="icon">
                <a href={{servlet-context}}/ranking/{{ranker.screen-name}}>
                  <img src={{ranker.profile-image}} onerror="this.src='{{servlet-context}}/img/notfound.png';" height=80 width=80 border="0">
                </a>
              </div>
              <div class="wrapper">
                <div class="tweet">{{ranker.screen-name|get-tweet}}</div>
              </div>
              <div style="clear:both;"></div>
              <div>{{ranker.user-name}}</div>
              <a href={{servlet-context}}/ranking/{{ranker.screen-name}}>
                <div>@{{ranker.screen-name}}</div>
              </a>
              <div>レーベンシュタイン距離：{{ranker.leven}}</div>
              <div></div>
            </div>
            {% endifequal %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div id="footer">
        <footer class="text-muted text-center">
          <article>

            <p>
              COPYRIGHT (C) 2015 - 2015 HeatOBer. ALL RIGHTS RESERVED.
              <span id="cpyear"></span>
            </p>
            <p>
              Powered by Luminus - a Clojure web framework
            </p>
          </article>
        </footer>
      </div>
    </div>

    <!-- scripts  -->

    {% script "/js/highlight.pack.js" %}

    {% script "/js/site.js" %}
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}

  </body>
</html>
